import random
words = ["apple","mango","grape","orange"]
word = random.choice(words)
guessed_letters=[]
print(word)
guesses = 10
print("Welcome to Hangman")
while True:
    guess=input("Enter a Letter:").lower()
    if guess in guessed_letters:
        print("alredy guessed!")
        continue
    guessed_letters.append(guess)
    if guess in word:
     print("Correct!")
    else:
        print("wrong!")
        guesses-=1
        print("remaung chances:",guesses)
    if guesses == 0:
        print("game over!")
        print("the word was:",word)
        break
    for letter in word:
        if letter in guessed_letters:
            print(letter, end=" ")
        else:
         print("_",end=" ")
    print()
    if all(letter in guessed_letters for letter in word):
        print("you win!")    
        break# Auto detect text files and perform LF normalization
* text=auto
